.title-contents {
  width: 100vw;
  height: 30vh;
  background-image: image-url('reizouko.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.item-img {
  width: 33vh;
  height: 33vh;
}

.star-icon {
  width: 2vh;
  height: 2vh;
}